html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    scrollbar-width: 0px;
}
.name_en{
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    color: #ad2ff6;
}
.name_jp{
    font-size: 30px;
    font-family: 'Noto Serif JP', serif;
    color: #ff0000;
}
header{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
#butto{
  position:fixed;
  top: 20px;
  right: 20px;
  color: grey;
  cursor: pointer;
}
.dark-mode {
    background: linear-gradient(to bottom, #1c1c1c, #434343);}
.outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    transform: translateY(60px);
}
.Zoan,.Logia,.Paramecia{
    width: 340px;
    height: 360px;
    border-radius: 20px;
    background-color: #525a9f;
    margin: 35px;
}
.Name{
    width: 340px;
    height: 75px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #151717;
}
h2,.name{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #eabd8a;
}
.details{
    padding: 0;
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    display: flex;
    color: white;
}
.imagess{
    display: flex;
    justify-content: center;
}
.df_user_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.robin,.ace,.bigmom,.kaido,.whitebeard{
    width: 90vw;
    height: 55vh;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(90deg, rgba(97,97,180,1) 36%, rgba(165,106,185,1) 90%);    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.img img{
    width: auto;
    height: auto;
    margin: 20px;
}
p{
    text-align:justify;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
}
.df img{
    object-fit: contain;
    overflow: hidden;
    height: 340px;
    width: 308px;
}
.df{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.df p{
    text-align: justify;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}
.vids{
    display: flex;
    justify-items: center;
}
.gap{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 95vw;
    height: 10vh;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #c31432, #240b36); 
    background: linear-gradient(to right, #c31432, #240b36);
}
